* {
  box-sizing: border-box;
}

/* Fix Pollen tags */
root { display: block; }

body {
  font-size: 16pt;

  margin: 0;
  padding: 3% 3% 5% 3%;

  font-family: "adobe-caslon-pro", Georgia, serif;
  font-variant-ligatures: common-ligatures;
  font-kerning: normal;

  font-weight: 400;
  line-height: 1.45em;
}



/*.dropcap {*/
/*  color: CRIMSON;*/
/*  font-style: normal;*/
/*}*/

/* Using Dropcap.js */
article > root > p:first-of-type:first-letter {
  initial-letter: 2;
  font-size: 4.6em;
  float: left;
  line-height: .5;
  margin: 0;
  padding: .37em .05em 0 0;
  color: CRIMSON;
  font-style: normal;
}
.firefox article > root > p:first-of-type:first-letter {
  padding-top: 0.1em;
}

@media screen and (min-width: 760px) {
  body {
    padding: 1% 5% 5% 5%;
    font-size: 17pt;
  }

  article {
    max-width: 720px;
    margin-left: 270px;
  }
}

img {
  max-width: 100%;
}


/* Layout */

article {
  padding-top: 2em;
  padding-bottom: 2em;
}
h1, h2, h3, h4 {
  font-family: "Gill Sans", Arial, sans-serif;
  font-size: 1em;
  margin-top: 2em;
  margin-bottom: 1em;
}
h1 {
  font-size: 1.5em;
  padding-top: 0.2em;
  line-height: 0.9em;
}
h1:first-of-type {
  margin-top: 0;
}


sidenote,
aside {
  display: block;

  font-size: 0.7em;
  line-height: 1.2em;

  font-family: "myriad-pro","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.6em;

  padding: 1em 0;
  margin: 1em 0;

  color: GRAY;

  text-align: center;

  border-top: 1px dashed DARKGRAY;
  border-bottom: 1px dashed DARKGRAY;

  /*height: 100px;*/
  /*overflow: hidden;*/
  /*transition: all 0.3s ease-out;*/
}
/*sidenote:hover,*/
/*aside:hover {*/
/*  height: 130px;*/
/*}*/
sidenote.expanded,
sidenote:active,
aside.expanded,
aside:active
{
  height: auto;
  overflow: auto;
}
@media screen and (min-width: 760px) {
  sidenote,
  aside{
    margin: 0;
    margin-left: -290px;
    width: 260px;
    height: auto;
    overflow: auto;
    position: absolute;
    text-align: right;
    padding: 0 1em 1em 1em;
    color: GRAY;
    border: none;
  }
  sidenote:hover,
  aside:hover {
    height: auto;
  }
}

/* Header */
header {
  border-bottom: 1px solid DARKGRAY;
  max-width: 1000px;
  overflow: auto;
  font-family: "myriad-pro","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.4em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  line-height: 2em;
}
@media screen and (min-width: 760px) {
  header {
    font-size: 0.6em;
  }
}
header a,
header a:visited{
  text-decoration: none;
  color: GRAY;
}
header a:hover {
  text-decoration: none;
  color: CRIMSON;
}
header p {
  margin: 0;
  /*width: 50%;*/
}
header p:first-child {
  float: left;
}
header p:last-child {
  float: right;
  text-align: right;
}

/* Section heading */
h2 a,
h2 a:visited {
  color: black;
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
}


/* Nav */
nav {
  display: flex;
  border-top: 1px solid LIGHTGRAY;
  max-width: 1000px;
  font-size: 0.5em;

  font-family: "Gill Sans",Helvetica,Arial,sans-serif;
  /*letter-spacing: 0.15em;*/
  /*text-transform: uppercase;*/
}
@media screen and (min-width: 760px) {
  nav {
    font-size: 0.8em;
  }
}
nav > a,
nav > a:visited{
  display: block;
  flex: 1;
  line-height: 1.5em;
  padding: 1em;
  color: BLACK;
  text-decoration: none;
  text-align: center;
  border-left: 1px solid LIGHTGRAY;

}
nav > a:hover {
  background: #faefca;
  color: CRIMSON;
  text-decoration: none;
}
nav > a:nth-child(1) {
  text-align: right;
  border-left: none;
}
nav > a:last-child {
  text-align: left;

}

/* Overlay Nav */
.overlay {
  width: 4%;
  height: 100%;
  position: fixed;
  top: 0;
  display: block;
  -webkit-tap-highlight-color: rgba(20,20,20,.2);
  opacity: 0;

  text-decoration: none;
  line-height: 100vh;
  text-align: center;
  color: black;
}
.overlay:hover {
  background: rgba(0,0,0,0.1);
  opacity: 1;
  text-decoration: none;
  color: black;
}
.overlay.prev {
  left: 0;
}
.overlay.next {
  right: 0;
}


/* Code block */
pre {
  font-size: 12pt;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}


/* visibile toggle */
.out {
  opacity: 0;
  display: none;
}
.in {
  opacity: 1;
  display: block;
}
/* Image Viewer */
img {
  cursor: zoom-in;
}
#overlay > img {
  cursor: zoom-out;
  max-height: 100%;
}
#overlay {
  background-color: rgba(255, 255, 255, 0.96);
  cursor: zoom-out;
  height: 100%;
  left: 0;
  line-height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9999;
}
#overlay-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(252, 252, 252, 1);
  color: #222;
  padding: 0.5em;
  border-top-right-radius: 3px;

  font-family: "myriad-pro","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.6em;
}
/* end of overlay */


/* Figure */
figure {
  text-align: center;
  margin: 0;
}
figcaption {
  font-family: "myriad-pro","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: GRAY;
  font-size: 0.6em;
}
aside figcaption{
  font-size: 1em;
}




/* Link */
a,
a:visited {
  color: CRIMSON;
  text-decoration: none;
  transition: all 0.3s ease-out;
  text-decoration-skip: ink;
}
a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid LIGHTGRAY;
  max-width: 1000px;
  color: DARKGRAY;

  font-family: "myriad-pro","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.6em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  line-height: 1.2em;
}
footer a,
footer a:visited {
  color: DARKGRAY;
}
footer a:hover {
  color: CRIMSON;
  text-decoration: none;
}


/* iframe */
iframe {
  border: 0;
  width: 100%;
  min-height: 300px;
}

/* Compare block grid */
.block-grid-2 {
  display: flex;
}
.block-grid-2 > * {
  flex: 1;
  padding: 1em;
  min-width: 0;
}